html, body, main {
	background-color: #EEEAE0;
	color: black;
	font-family: Arial;
}

a {
	text-decoration: none;
}

.center {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	width: 600px;
	height: 530px;

	text-align: center;

	margin: auto;
}

.AC-main h1 {
	font-size: 5em;
}

.AC-main h4 {
	font-size: 2.5em;
	font-family: "Cardo", Arial;
}

.AC-social {
	margin: 0 auto;
	max-width: 400px;
}

.AC-social .item {
	display: inline;
}

.AC-social .item img {
	width: 60px;
	height: 60px;
}

.AC-smallprint {
	margin-top: 50px;
	color: black;
	font-size: 10px;
}

.AC-smallprint a {
	text-decoration: none;
	color: inherit;
}

.fadein {
	opacity: 0;
	-webkit-animation: fadein 1.5s 0.3s ease-out forwards; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 1.5s 0.3s ease-out forwards; /* Firefox < 16 */
	-ms-animation: fadein 1.5s 0.3s ease-out forwards; /* Internet Explorer */
	-o-animation: fadein 1.5s 0.3s ease-out forwards; /* Opera < 12.1 */
	animation: fadein 1.5s 0.3s ease-out forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
